.links__item a {
    color: $details-color;
}

.links__item {
  color: $details-color;
  margin-top: 19px;
  font-size: 12px;
  line-height: 14px;
  display: block;
  margin-right: 20px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 20px;
    margin-right: 100px;
  }
}

.links__item:hover {
  text-decoration: underline;
  }
