.navigation {
  display: flex;
  padding-left: 0;
  width: 100%;
  z-index: 0;
  padding-top: 0;
  margin-top: auto;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 450px;
    flex-direction: row;
  }

  @media  (min-width: $desktop-width) {
    width: 700px;
  }
}

.navigation__item a {
  color: #fff;
}

.navigation__item {
  background-color: $primary-color;
  border: 1px solid  #8B4136;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    font-size: 16px;
    line-height: 18px;
    background-color: inherit;
    border: none;
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.navigation__item:hover {
  background-color: #C1876B;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    text-decoration: underline;
    background-color: inherit;
  }
}

.no-js .navigation__item  {
    display: block;
  }

.main-nav--closed .navigation__item {
    @media(min-width: $tablet-width) {
    display: block;
  }
}
