.table__row {
  color: $details-color;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }
}

.table__value {
  padding-left: 16px;
  font-size: 12px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 25px;
    font-size: 18px;
    line-height: 25px;
  }
}

.table__termin {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 25px;
  }
}
